{% extends "base.html" %}
{% block special %}{% endblock %}
{% block container %}

<p> <h2> Invoice </h2> </p>
<br>
    <ul class="row">
    <div class="col-sm">
            NAME
        </div>
        <div class="col-sm">
            {{ rows['name'] }}
        </div>
    </ul>
    <ul class="row">
        <div class="col-sm">
            EMAIL
        </div>
        <div class="col-sm">
            {{ rows['email'] }}
        </div>
    </ul>
    <ul class="row">
        <div class="col-sm">
            PHONE NO.
        </div>
        <div class="col-sm">
            {{ rows['phoneno'] }}
        </div>
    </ul>
    <ul class="row">
        <div class="col-sm">
            CHECK IN
        </div>
        <div class="col-sm">
            {{ rows['checkin'] }}
        </div>
    </ul>
    <ul class="row">
        <div class="col-sm">
            CHECK OUT
        </div>
        <div class="col-sm">
            {{ rows['checkout'] }}
        </div>
    </ul>
    <hr>
        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col-sm">
                        TOTAL AMOUNT PAID
                </div>
                <div class="col-sm">
                    {{ rows['amount'] }}
                </div>
            </div>
        </div>
    


{% endblock %}