{% extends "base.html" %}
{% block special %}{% endblock %}
{% block container %}
    <h3>Please fill in your details.</h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

        <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm">
                    CHECKIN DATE
                </div>
                <div class="col-sm">
                    {{ roomdata['checkin'] }}
                </div>
            </div>
        </div>
                <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm">
                    CHECKOUT DATE
                </div>
                <div class="col-sm">
                    {{ roomdata['checkout'] }}
                </div>
            </div>
        </div>
                <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm">
                    NO OF ADULTS
                </div>
                <div class="col-sm">
                    {{ roomdata['heads'] }}
                </div>
            </div>
        </div>
    
    <form method = "POST" action ="">
    {{ form.hidden_tag() }}
    <!----------------------------------------- user name -->
        <div class="form-group">
            {{  form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.username(class="form-control", placeholder="Enter name") }}
            {% endif %}
        </div>
    <!-- --------------------------------------- email -->
        <div class="form-group">
            {{  form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.email(class="form-control", placeholder="Enter email") }}
            {% endif %}
        </div>
    <!-- --------------------------------------- phoneno -->
        <div class="form-group">
            {{  form.phoneno.label(class="form-control-label") }}
            {% if form.phoneno.errors %}
                {{ form.phoneno(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.phoneno.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.phoneno(class="form-control", placeholder="Enter phoneno") }}
            {% endif %}
        </div>
    <!-- --------------------------------------- identity -->
        <div class="form-group">
            {{  form.identity.label(class="form-control-label") }}
            {% if form.identity.errors %}
                {{ form.identity(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.identity.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.identity(class="form-control", placeholder="IdentityCard Number") }}
            {% endif %}
        </div>

        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col-sm">
                        TOTAL PAYABLE AMOUNT
                </div>
                <div class="col-sm">
                    {{ roomdata['amount'] }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{  form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p class="container">
        Please use your Identity Card Number as your BookingID.
    </p>



{% endblock %}