{% extends "base.html" %}
{% block special %}{% endblock %}
{% block container %}
<h4> Cancel Booking</h4>
    <p>Please enter your Invoice ID.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method = "POST" action ="">
    {{ form.hidden_tag() }}
        <!-- --------------------------------------- invoiceid -->
        <div class="form-group">
            {{  form.invoiceid.label(class="form-control-label") }}
            {% if form.invoiceid.errors %}
                {{ form.invoiceid(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.invoiceid.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.invoiceid(class="form-control", placeholder="Enter invoiceid") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{  form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}