{% extends "base.html" %}
{% block special %}{% endblock %}
{% block container %}

    <form method = "POST" action ="">
    {{ form.hidden_tag() }}
        <!-- --------------------------------------- bookingid -->
        <div class="form-group">
            {{  form.bookingid.label(class="form-control-label") }}
            {% if form.bookingid.errors %}
                {{ form.bookingid(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.bookingid.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.bookingid(class="form-control", placeholder="Enter bookingID") }}
            {% endif %}
        </div>
        <!-- --------------------------------------- checkin -->
        <div class="form-group">
            {{  form.checkin.label(class="form-control-label") }}
            {% if form.checkin.errors %}
                {{ form.checkin(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.checkin.errors %}
                        <span>{{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
            {{  form.checkin(class="form-control", placeholder="Checkin date") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{  form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p class="container">
        Your BookingID is your Identity Card Number.
    </p>
{% endblock %}