{% extends "base.html" %}
{% block special %}{% endblock %}
{% block container %}

<p> Booking status </p>
<br>
    <ul class="row">
    <div class="col-sm">
            NAME
        </div>
        <div class="col-sm">
            {{ rows['name'] }}
        </div>
    </ul>

    <ul class="row">
        <div class="col-sm">
            EMAIL
        </div>
        <div class="col-sm">
            {{ rows['email'] }}
        </div>
    </ul>

    <ul class="row">
        <div class="col-sm">
            PHONE NO.
        </div>
        <div class="col-sm">
            {{ rows['phoneno'] }}
        </div>
    </ul>

    <ul class="row">
        <div class="col-sm">
            ROOM NO
        </div>
        <div class="col-sm">
            {{ rows['roomno'] }}
        </div>
    </ul>

    <ul class="row">
        <div class="col-sm">
            CHECK IN
        </div>
        <div class="col-sm">
            {{ rows['checkin'] }}
        </div>
    </ul>

    <ul class="row">
        <div class="col-sm">
            CHECK OUT
        </div>
        <div class="col-sm">
            {{ rows['checkout'] }}
        </div>
    </ul>
    <a href="{{ url_for('bill') }}" class="btn btn-lg btn-outline-primary my-3" type="button"> Bill </a>
    


{% endblock %}